@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/** Asterisk wildcard selectort override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Audiowide", sans-serif;

}

header {
    background-color: #151922;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}


h1 {
    font-family: "Audiowide", sans-serif;
    color: #ffffff;
    letter-spacing: 1px;
    text-align: justify;

}


header a {
    text-decoration: none;
    color: inherit;
}

#menu {

    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
    color: #ffffff;
}

#menu>li {
    margin-bottom: 0.5em;
}

.active {
    border-bottom: 2px dashed #ffffff;
}

/* Hero image */

#hero {
    width: 100%;
    height: 800px;
    background: url("../images/heroimage.jpg") no-repeat center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position:relative;
}

#cover-text{
    background-color: rgba(179, 210, 109, .7);
    font-size: 120%;
    text-align: center;
    position: absolute;
    top: 50px;
    width: 80%;
    min-height:200px;
    padding-top:40px;
    padding-left:10px;
    letter-spacing: 2px;
   
}

#dates{
    background-color: rgba(240, 246, 226, .8);
    font-size: 80%;
    text-align: center;
    position: absolute;
    top: 255px;
    right:5px;
    width: 80%;
    height:40px;
    padding-top:2px;
    padding-left:2px;
    letter-spacing: 2px;
   
    

}

#activities{
    background-color: rgba(210, 191, 109, .7);
    font-size: 110%;
    text-align: center;
    position: absolute;
    bottom:  100px;
    width: 100%;
    min-height:100px;
    padding-top:10px;
    padding-left:10px;
    letter-spacing: 2px;
}

#expo-image{
    background: url("../images/sagrada-familia.jpg") no-repeat top center/ cover;
    width: 75vw;
    height: 75vw;
    margin-bottom:20px;
    top: 300px;
    right: 5px;
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    border-color: rgba(210, 191, 109, .7);

}


/* Nav bar with drop down toggle*/

nav {
    position: absolute;
    background-color: #151922;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;



}

/* Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

main {
    /*make the main elelemt take the adecuate space to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 90px;

}

/*Galery Page*/
#gallery-title{
    background-color:rgba(179, 210, 109, .7);
    text-align: center;
    letter-spacing: 2px;
}
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos{
    line-height: 0;
}
footer {
    background-color: #151922;
    justify-content: flex-end;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

#social-networks li {
    font-size: 150%;
    padding: 5%;
}

/*Media query: large or landscape phones (576px and up)*/
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up)*/
@media screen and (min-width:768px) {


#cover-text{
    width: 450px;
    font-size: 150%;
}

#activities{
    width: 600px;
    right: 20px;
    font-size: 150%;

}

#expo-image{
    width: 35vw;
    height: 35vw;
    right: 100px;
}

#dates{
    font-size:120%;
    width: 500px;
}
/*Gallery*/
#gallery-title{
    width: 100%;
    min-height:50px;
    font-size:180%;
    

#photos {
        column-count: 3;
}

}

/*larger devices (laptops and desktops, 992px and up)*/
@media screen and (min-width: 992px) {
#expo-image{
    width: 20vw;
    height:20vw;
    right: 200px;

}
dates{
    font-size:120%;
    width: 800px;}

/*Gallery*/
#photos {
        column-count: 3;
}

}