@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/** Asterisk wildcard selectort override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #3a3a3a;
        padding: 0 1rem;
        position: relative;
        z-index: 99;
        width: 100%;
        font-family: "Audiowide" , sans-serif;
        color: #ffffff ;
        display: flex;
        justify-content: space-between;
        
}


main{
    /*make the main elelemt take the adecuate space to push footer down*/
        flex: 1 0 auto;
        /* Add margin at the top to prevent content from being covered by the header */
        margin-top: 30px;
        /* Enable flex properties for child elements */
         display: flex;
         flex-direction: column;
}

footer{
    background-color: aqua;
    justify-content: flex-end;
}

