@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/** Asterisk wildcard selectort override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Audiowide", sans-serif;
    background: #151922;

}

header {
    background-color: #151922;
    padding: 5px 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}


h1 {
    font-family: "Audiowide", sans-serif;
    color: #fefae0;
    letter-spacing: 1px;
    text-align: justify;

}


header a {
    text-decoration: none;
    color: inherit;
}

#menu {

    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
    color: #fefae0;
}

#menu>li {
    margin-bottom: 0.5em;
}

.active {
    border-bottom: 2px dashed #ffffff;
}

/* Hero image */

#hero {
    width: 100%;
    height: 800px;
    background: url("../images/heroimage.jpg") no-repeat center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position:relative;
}

#cover-text{
    background-color: rgba(179, 210, 109, .7);
    font-size: 120%;
    text-align: center;
    position: absolute;
    top: 50px;
    width: 80%;
    min-height:200px;
    padding-top:40px;
    padding-left:10px;
    letter-spacing: 2px;
   
}

#dates{
    background-color: rgba(240, 246, 226, .8);
    font-size: 80%;
    text-align: center;
    position: absolute;
    top: 255px;
    right:5px;
    width: 80%;
    height:40px;
    padding-top:2px;
    padding-left:2px;
    letter-spacing: 2px;
   
    

}

#activities{
    background-color: rgba(210, 191, 109, .7);
    font-size: 110%;
    text-align: center;
    position: absolute;
    bottom:  100px;
    width: 100%;
    min-height:100px;
    padding-top:10px;
    padding-left:10px;
    letter-spacing: 2px;
}

#expo-image{
    background: url("../images/sagrada-familia.jpg") no-repeat top center/ cover;
    width: 75vw;
    height: 75vw;
    margin-bottom:20px;
    top: 300px;
    right: 5px;
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    border-color: rgba(210, 191, 109, .7);

}


/* Nav bar with drop down toggle*/

nav {
    position: absolute;
    background-color: #151922;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;



}

/* Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

main {
    /*make the main elelemt take the adecuate space to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 90px;

}
/*Info page*/

#top-view{
    background-color: #3a3a3a;
    background-image: url("../images/green-building.jpg");
    background-size: cover;
    height:100vh;
    padding:1em;
    color: black;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#top-view p{
    background-color: rgba(179, 210, 109, .7);
    text-align: center;
    font-size: 120%;

}

#top-view h2{
    color: white;
    text-align:center;
    font-size: 200%;
}

.general-info{
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.general{
    background:rgba(179, 210, 109, .7)

}

.general h2{
    font-size: 130%;
    color: white;
    background-color: #151922;
    padding: 1em;
}

.general p {
    padding: 1em;
}

.expect{
    background-image: url("../images/treehouse.jpg");
    background-size: cover;
    padding: 10vh 0;
    color: white;

}

.expect-text{
    background-color: rgba(46, 54, 30, 0.7);
    text-align: center;
    font-size: 120%;
    padding: 1em;
    
}

/*Galery Page*/
#gallery-title{
    background-color:rgba(179, 210, 109, .7);
    text-align: center;
    letter-spacing: 2px;
}
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos{
    line-height: 0;
}


/*Sing-up Page*/

#singup{
    background: url("../images/singupimages.jpg");
    width:100%;
    height: 500px;
    background-position: center;
    
}

#singup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, .7);
    padding: 30px;
}

#singup-form>h2 {
    color: #fafafa;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.text-input {
    background: #3a3a3a;
    color: #fafafa;
    border: 1px solid #fafafa;
    border-radius: 2px;
    height: 25px;
    width: 100%;
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    letter-spacing: 1px;
    font-size: 85%;
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    background-color: rgba(179, 210,109,.7);
    color: #fafafa;
    font-size: 100%;
    padding: 10px 30px;
}

footer {
    background-color: #151922;
    justify-content: flex-end;
}

#social-networks {
    text-align: center;
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

#social-networks li {
    font-size: 150%;
    padding: 5%;
}

/*Media query: large or landscape phones (576px and up)*/
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up)*/
@media screen and (min-width:768px) {

h1{
    font-size: 300%;
}

#hero{
    height: 1000px;
}
#cover-text{
    width: 450px;
    font-size: 150%;
}

#activities{
    width: 600px;
    right: 20px;
    font-size: 150%;

}

#expo-image{
    width: 45vw;
    height: 45vw;
    right: 100px;
    top: 350px;
}

#dates{
    font-size:120%;
    width: 500px;
}
/*Info page*/
.general-info {
   
    flex-direction: row;
    justify-content: space-around;

}
#top-view p {
    font-size: 250%;
}

#top-view h2{
    font-size: 600%
}

/*Gallery*/
#gallery-title{
    width: 100%;
    min-height:50px;
    font-size:180%;
    
}
#photos { 
        column-count: 3;
}

/*Sing-up page*/
#singup{
    height: 1000px;
}

#singup h2{
    font-size: 300%;

}
#singup label{
    font-size: 200%;
}
.radio-buttons {
    font-size: 100%;
}

.submit-button{
    font-size: 250%;
}
}

/*larger devices (laptops and desktops, 992px and up)*/
@media screen and (min-width: 992px) {

#hero {
    width: 100%;
    height: 900px;
}
 #expo-image{
    width: 20vw;
    height: 20vw;
    right: 300px;

}

#cover-text{
    font-size: 200%;
    width: 800px;
}
#dates{
    font-size:180%;
    width: 800px;}

#activities{
    font-size: 180%;
    width: 900px;
    bottom: 130px;
}

/*Gallery*/
#photos {
        column-count: 3;
}

/*Sing-up Page*/
 #signup {
     background-position: center;
     position: relative;
    
 }
  #signup-form {
      width: 600px;
      position: absolute;
      left: 10%;
      top: 150px;
  }

  #social-networks {
      padding: 10px;

  }
  #social-networks li {
      font-size: 200%;
      padding: 10px;
  }
}